@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter");
:root {
    --font_base: 'Architects Daughter', sans-serif;
    --fontSize_base: 22px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font_base);
    font-size: var(--fontSize_base);
    color: lightgreen;
    background-color: #777;
}

a,
a:visited,
a:focus {
    font-weight: bold;
    color: lightgreen;
}
a,
a:visited,
a:focus,
input,
input:focus,
select,
select:focus {
    outline: 0;
    outline-offset: 0;
}
a:hover,
a:active,
a.router-link-exact-active {
    color: lightseagreen;
}

h1 {
    margin-top: 0;
}
ul {
    list-style: none;
    padding: 0;
}
p, 
figure {
    margin: 0;
    padding: 0;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-columns: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #555;
}
#nav a,
#nav a:visited,
#nav a:focus {
    font-weight: bold;
    color: white;
    outline: 0;
    outline-offset: 0;
}
#nav a:hover,
#nav a:active,
#nav a.router-link-exact-active {
    color: lightseagreen;
}

.home_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_logo,
.home_logo > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: calc(100px + 5vh);
}

#content {
    padding: 15px;
}

.separator__title {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.separator__title span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}
    .separator__title span:before,
    .separator__title span:after {
        position: absolute;
        top: calc(50% - 1px);
        display: block;
        width: 20vw;
        height: 2px;
        content: '';
        background-color: lightgreen;
    }
    .separator__title span:before {
        right: 100%;
    }
    .separator__title span:after {
        left: 100%;
    }

/** LOGIN */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .login__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 20px 40px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        background-color: lightgreen;
        background-image: linear-gradient(160deg, lightgreen 30%, darkgreen 80%);
        border: 1px solid lightcyan;
        border-radius: 6px;
    }
    .login__form__error_warning {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        color: red;
        background-color: lightgrey;
        border: 1px solid darksalmon;
        border-radius: 4px;
    }
    .login__form__field {
        display: block;
        width: 100%;
    }
        .login__form__field > label {
            color: #333;
        }
    .login__form__field input {
        margin-bottom: 6px;
        padding: 6px 10px;
        width: 100%;
        height: 40px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }
    .login__form__submit__button {
        display: block;
        margin-top: 20px;
        padding: 6px 10px;
        width: 100%;
        font-family: var(--font_base);
        font-size: calc(var(--fontSize_base) * .85);
        background-color: white;
        border: 1px solid white;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 0 white;
        transition: all .25s ease-in-out;
        cursor: pointer;
    }
    .login__form__submit__button,
    .login__form__submit__button:visited,
    .login__form__submit__button:focus,
    .login__form__submit__button:hover,
    .login__form__submit__button:active {
        outline: 0;
        outline-offset: 0;
    }
    .login__form__submit__button:hover,
    .login__form__submit__button:active {
        color: white;
        background-color: #333;
    }

.logout {
    margin-top: 20px;
    padding: 10px 15px;
    color: lightgreen;
    background-color: transparent;
    border: 1px solid lightgreen;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    cursor: pointer;
}
.logout:hover,
.logout:active {
    color: #333;
    background-color: lightgreen;
}


@media (min-width: 1000px){
    #app {
        grid-template-columns: 15% 85%;
    }
    #content {
        grid-column: 2;
    }
    .login__form {
        width: 50%;
    }

    .logout {
        margin-top: 40px;
    }
}