<template>
  <div class="contributor__profile">
    <h1 class="contributor__profile__title">{{ login }}'s Contributor page</h1>
    <div class="contributor__profile__content">
      <figure class="contributor__avatar">
        <img :src="contributor.avatar_url" 
          alt="contributor.login" 
          class="contributor__avatar__image"
        >
      </figure>
      <article class="contributor__info">
        <ul class="contributor__info__list">
          <li class="contributor__info__item">
            <span class="contributor__login">
              <strong>Contributor: </strong> {{contributor.login}} (aka. {{contributor.name}})
            </span>
          </li>
          <li class="contributor__info__item">
            <strong>Web: </strong> <span class="url">{{contributor.html_url}}</span>
          </li>
          <li class="contributor__info__item">
            <strong>Blog: </strong> <span class="url">{{contributor.blog}}</span>
          </li>
          <li v-if="twitterAccount">
            <a :href="twitterAccount" target="_blank" rel="noopener">@{{contributor.twitter_username}}</a>
          </li>
          <li class="contributor__info__item">
            <strong>Bio: </strong> <span>{{contributor.bio}}</span>
          </li>
          <li class="contributor__info__item">
            <strong>Repos: </strong> <span>{{contributor.public_repos}}</span>
          </li>
          <li class="contributor__info__item">
            <strong>Followers: </strong> <span>{{contributor.followers}}</span>
          </li>
          <li class="contributor__info__item">
            <strong>Following: </strong> <span>{{contributor.following}}</span>
          </li>
        </ul>
      </article>
      <article class="contributor__repos">
        <h2 class="separator__title">
          <span>Repos</span>
        </h2>
        <ul class="contributor__repos__list">
          <li v-for="repo in repos" 
            :key="repo.id" 
            class="contributor__repos__item"
          >
            <router-link :to="{name:'RepoView', params:{repoOwner: contributor.login, repoName: repo.name}}" class="contributor__repos__item__link">
              {{ repo.name }}
            </router-link>
          </li>
        </ul>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContributorView',
  data(){
    return {
      login: '',
      contributor: {},
      repos: []
    }
  },
  computed: {
    twitterAccount() {
      if(this.contributor.twitter_username) {
        return 'https://twitter.com/'+this.contributor.twitter_username;
      }
      return false;
    }
  },
  created(){
    this.login = this.$route.params.login;
    console.log('https://api.github.com/users/'+this.$route.params.login+'/repos')
    fetch('https://api.github.com/users/'+this.$route.params.login+'')
      .then(response => response.json())
      .then(contributor => {
        this.contributor = contributor;
        fetch(contributor.repos_url)
          .then(response => response.json())
          .then(repos => {
            this.repos = repos;
          })
          .catch(error => {
            console.log({error})
          });
      })
      .catch(error => {
        console.log({error})
      });
  }
}
</script>

<style lang="scss">
  .contributor__profile {
    &__title {
      line-height: 1.2;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    .contributor__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &__image {
        width: 300px;
        max-width: 100%;
        height: auto;
        box-shadow: 6px 6px 4px 0 lightgreen;
      }
    }
    .contributor__avatar__image {
      border-radius: 100%;
    }
    .contributor__info {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
      &__item > .url {
        word-break: break-word;
      }
    }
    .contributor__repos {
      width: 100%;
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &__item__link {
        display: block;
        margin: 10px;
        padding: 20px 10px;
        word-break: break-word;
        border: 1px solid lightgreen;
        border-radius: 6px;
        transition: all .25s ease-in-out;
        &,
        &:visited,
        &:focus {
          text-decoration: none;
        }
        &:hover,
        &:active {
          color: white;
          background-color: lightgreen;
          transform: scale(1.2);
        }
      }
    }
  }
  @media (min-width: 1000px){
    .contributor__profile {
      .contributor__avatar {
        max-width: 300px;
      }
      .contributor__info {
        flex-basis: 0;
        margin-left: 4vw;
      }
    }
  }
  @media (max-width: 999px){
    .contributor__profile {
    }
  }
</style>