<template>
  <RepoInfo :repoOwner="repoOwner" :repoName="repoName" :key="repoInfoKey"></RepoInfo>
</template>

<script>
// @ is an alias to /src
import RepoInfo from '@/components/RepoInfo.vue'

export default {
  name: 'Home',
  components: {
    RepoInfo
  },
  props: {
    repoOwner: {
      default: 'vuejs'
    },
    repoName: {
      default: 'vue'
    }
  },
  computed: {
    repoInfoKey(){
      return this.repoOwner+'/'+this.repoName;
    }
  }
}
</script>