<template>
  <div class="login">
    <form action="#" method="post" class="login__form" @submit.prevent="login">
      <p class="login__form__error_warning" v-if="login_error">
        There was something wrong with your credentials.<br>
        Please, try again or leave now.
      </p>
      <div class="login__form__field" :class="{'error': login_error}">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" v-model="inputs.username">
      </div>
      <div class="login__form__field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" v-model="inputs.password" :class="{'error': login_error}">
      </div>
      <div class="login__form__submit">
        <button type="submit" id="submit" class="login__form__submit__button">Try to enter</button>
      </div>
    </form>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Login',
  components: {},
  data(){
    return {
      inputs: {
        username: '',
        password: ''
      },
      login_error: false
    }
  },
  methods: {
    login(){
      this.login_error = false;
      if(this.inputs.username == 'admin' && this.inputs.password == '1234'){
        localStorage.setItem("logged_in", true);
        this.$emit('loginstate', true);
        this.$router.push({name: 'HomeView'});
      } else {
        this.login_error = true;
        setTimeout(() => this.login_error = false, 5000);
      }
      this.inputs.username = '';
      this.inputs.password = '';
    }
  }
}
</script>
