<template>
  <section class="contributors">
    <h2 class="separator__title">
      <span>Contributors</span>
    </h2>
    <ul class="contributors__list">
      <li class="contributors__list__contributor"
        v-for="contributor in contributors" 
        :key="contributor.id"
        >
        <router-link :to="{name:'ContributorView', params:{login: contributor.login}}" class="contributor__link">
          <figure class="contributor__avatar">
            <img :src="contributor.avatar_url" 
              alt="contributor.login" 
              class="contributor__avatar__image"
            >
          </figure>
          <span class="contributor__login">
            {{contributor.login}}
          </span>
        </router-link>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'ContributorsList',
  props: {
    contributors: {

    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  
  .contributors__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .contributors__list__contributor {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    min-width: 200px;
    text-align: center;
    .contributor {
      &__link {
        color: lightgreen;
      }
      &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__avatar__image {
        display: block;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 6px 6px 4px 0 lightgreen;
        transition: all .25s ease-in-out;
      }
      &:hover &__avatar__image {
        opacity: .7;
        transform: scale(1.2);
      }
    }
  }
</style>
