<template>
  <section class="repo_info">
    <header class="repo_info__header">
      <div class="repo_info">
        <h2 class="separator__title">
          <span>Watching: <router-link :to="{name:'ContributorView', params:{login: repoOwner}}" class="contributor__link">{{ repoOwner }}</router-link> / {{ repoName }}</span>
        </h2>
        <ul class="repo_info__list">
          <li class="repo_info__item">
            <strong>Name: </strong> <span class="url">{{repoInfo.name}}</span>
          </li>
          <li class="repo_info__item">
            <strong>Fullname: </strong> <span class="url">{{repoInfo.full_name}}</span>
          </li>
          <li class="repo_info__item" v-if="repoInfo.description">
            <strong>Description: </strong> <span class="url">{{repoInfo.description}}</span>
          </li>
          <li class="repo_info__item" v-if="repoInfo.homepage">
            <strong>Homepage: </strong> <a :href="repoInfo.homepage" target="_blank" rel="noopener" class="url">{{repoInfo.homepage}}</a>
          </li>
        </ul>
        <div class="repo_info__additional">
          <h2 class="separator__title">
            <span>Do you want to know more?</span>
          </h2>
          <select v-if="repoFieldsCount" 
            class="repo_fields" 
            id="repo_fields" 
            v-model="repoField">
            <option>-- Choose one --</option>
            <template v-for="(data, field) in repoInfo">
              <optgroup :key="field" :label="field" v-if="typeof data === 'object'">
                <option v-for="(fieldValue, fieldData) in data" :key="fieldData" :value="{val1:field, val2:fieldData}">{{field}} > {{fieldData}}</option>
              </optgroup>
              <option :key="field" v-else>{{field}}</option>
            </template>
          </select>
          <p class="repo_info__data">
            <span v-if="repoField != '-- Choose one --'">
              {{repoInfoShow}}
            </span>
            <span v-else>Come on, choose one from above.</span>
          </p>
        </div>
      </div>
    </header>
    <div class="repo_info__contributors">
      <ContributorsList :contributors="contributors" />
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import ContributorsList from '@/components/ContributorsList.vue'

export default {
  name: 'RepoInfo',
  components: {
    ContributorsList
  },
  props: {
    repoOwner: {
      default: 'vuejs'
    },
    repoName: {
      default: 'vue'
    }
  },
  data(){
    return {
      repoInfo: {},
      contributors: [],
      repoField: '-- Choose one --',
    }
  },
  methods: {
    getRepoData(){
      fetch('https://api.github.com/repos/'+this.repoOwner+'/'+this.repoName)
        .then(response => response.json())
        .then(repoData => {
          this.repoInfo = repoData;
          return fetch(repoData.contributors_url);
        })
        .then(response => response.json())
        .then(contributorsData => {
          this.contributors = contributorsData;
        })
        .catch(error => {
          console.log({error})
        });
    }
  },
  computed: {
    repoFieldsCount(){
      return Object.keys(this.repoInfo).length;
    },
    repoInfoShow(){
      if(typeof this.repoField === 'object' ){
        return this.repoInfo[this.repoField.val1][this.repoField.val2] || 'No data to show.';
      } else {
        return this.repoInfo[this.repoField] || 'No data to show.';
      }

    }
  },
  created(){
    this.getRepoData()
  }
}
</script>

<style>
  .repo_info__header {
    display: flex;
    align-items: center;
  }
  .repo_info {
    flex: 1 1 auto;
  }
  .repo_fields {
    padding: 10px 15px;
    color: lightgreen;
    font-size: 1.2rem;
    background-color: #888;
    border: 1px solid lightgreen;
    border-radius: 4px;
  }
  .repo_info__additional {
    
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .repo_info__additional__label {
    display: block;
    margin-right: 10px;
    font-size: 1.4rem;
  }
  .repo_info__data {
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    min-height: 60px;
    font-size: 1.6rem;
    word-break: break-word;
    background-color: #999;
    border: 1px solid lightgreen;
  }
</style>