<template>
  <div id="app">
    <nav id="nav">
      <router-link to="/">
        <figure class="home_logo">
          <img alt="Vue logo" src="./assets/logo.png">
        </figure>
      </router-link>
      <button v-if="logged_in" @click="logout" class="logout">Logout</button>
      <!-- <router-link to="/about">About</router-link> -->
    </nav>
    <main id="content">
      <router-view @loginstate="login" />
    </main>
  </div>
</template>
<script>
export default {
  data(){
    return {
      logged_in: false,
    }
  },
  methods: {
    login(value){
      this.logged_in = value || this.checkLocalStorageLoginState();
    },
    logout(){
      localStorage.setItem("logged_in", false);
      this.logged_in = false;
      this.$router.push({name: 'LoginView'});
    },
    checkLocalStorageLoginState(){
      return localStorage.getItem("logged_in") === 'true' ? true : false
    }
  },
  created(){
    this.logged_in = this.checkLocalStorageLoginState();    
  }
}
</script>script
<style lang="scss">
  @import './assets/css/style.css';
</style>
